<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SRVR About Us</title>
</head>
<body>
    <section class="about">
        <div class="main">
            <img src="../static/images/aboutus.jpg" alt="">
            <div class="about-text">
                <h1>About Us</h1>
                <h5>From The <span>SRVR</span> Development Team</h5>
                <p>"Welcome to our senior project website! 
                    We are a dedicated team of five individuals who have spent the greater half of this past semester collaborating on a mission we are passionate about. 
                    With diverse backgrounds and skill sets, we came together to tackle a challenging project, driven by our shared commitment to innovation and excellence. 
                    Our journey has been marked by countless hours of research, brainstorming, and problem-solving, as we worked tirelessly to bring our vision to life. 
                    As we present our senior project to you, we hope you'll see the dedication, creativity, and teamwork that have gone into its creation. 
                    Thank you for joining us on this exciting venture, and we can't wait to share our achievements with you."</p>
                <button type="button">Contact Us</button>
            </div>
        </div>
    </section>
</body>
</html>
