<!--
  browsemenus.html is the page that the user will be directed to when they finish signing up/logging in
  will stop at the navbar for meal selection
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Menus</title>

    <!-- Link to CSS page -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css">

</head>

<body>

<!-- Navbar -->
<header>
    <div class="left-section">
        <a href="browsemenus.html" class="logo">SRVR<i class="bi bi-badge-tm"></i></a>
    </div>

    <div class="center-section">
        <nav class="navbar">
            <a href="browsemenus.html">Browse Menu</a>
            <a href="howitworks.html">How it Works</a>
            <a href="aboutus.html">About Us</a>
        </nav>
    </div>

    <div class="right-section">
        <nav class="navbar">
            <a href="login.html">Cart</a>
            <a href="account.html">Account</a>
        </nav>
    </div>
</header>

<!-- !!!!!!!!!!!   -->
<!-- IF EXTENDS WORK, DELETE EVERYTHING ELSE ABOVE
     i only added the menu.html nav bar bc %extend won't work for me-->

<!-- {% extends "menu.html" %} -->
<!-- {% block content %} -->

<h1 style="text-align: center; margin-top: 25px">Explore Our Meals</h1>

<!-- navbar that has different recipes based on category -->
<div class=meal-selection>
    <nav class="meal-navbar">
        <a href="browsemenus.html">All Meals</a>
        <a href="asiandelights.html">Asian Delights</a>
        <a href="comfortclassics.html">Comfort Classics</a>
        <a href="delightfuldesserts.html">Delightful Desserts</a>
        <a href="inspiringitalian.html">Insipiring Italian</a>
        <a href="marvelousmexican.html">Marvelous Mexican</a>
        <a href="savoryseafood.html">Savory Seafood</a>
    </nav>
</div>

<!-- {% endblock %} -->


<!-- section for all meals -->

<section class="all-meals">
    <div class="all-meals-contents">
        <div class="grid-container">
            <div class="meals-grid-item">
                <img src="../static/images/BBQ_Pulled_Pork_Sandwich.jpeg" alt="BBQ_Pulled_Pork_Sandwich">
                <!-- <p class="meal-description">BBQ Pulled Pork Sandwich</p> -->
                <p class="meal-description"><a href="../static/Comfort_Classics/Instructions/BBQ_Pulled_Pork_Sandwich_Recipe.pdf">BBQ Pulled Pork Sandwich</a></p>
            </div>

            <div class="meals-grid-item">
                <img src="../static/images/Cajun_Baked_Catfish.jpeg" alt="Cajun_Baked_Catfish">
                <p class="meal-description"><a href="../static/Seafood/Instructions/Cajun_Baked_Catfish.pdf">Cajun Baked Catfish</a></p>

            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Caramel_Apple_Crisp.jpeg" alt="Caramel_Apple_Crisp">
                <p class="meal-description"><a href="../static/Delightful_Desserts/Instructions/Caramel_Apple_Crisp_Recipe.pdf">Caramel Apple Crisp</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Classic%20Mushroom%20Tacos%20with%20Fresh%20Salsa.jpeg" alt="Classic_Mushroom_Tacos_with_Fresh_Salsa">
                <p class="meal-description"><a href="../static/Marvelous_Mexican/Instructions/Classic_Mushroom_Tacos_with_Fresh_Salsa_Recipe.pdf">Classic Mushroom Tacos with Fresh Salsa</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Classic_New_York_Cheesecake.jpeg" alt="Classic_New_York_Cheesecake">
                <p class="meal-description"><a href="../static/Delightful_Desserts/Instructions/Classic%20New%20York%20Cheesecake.pdf">Classic New York Cheesecake</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/coconut_thai_curry.jpeg" alt="coconut_thai_curry">
                <p class="meal-description"><a href="../static/Asian_Delights/Instructions/Coconut_Thai_Curry_Recipe.pdf">Coconut Thai Curry</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Crab_Cakes.jpeg" alt="Crab_Cakes">
                <p class="meal-description"><a href="../static/Seafood/Instructions/Crab_Cakes.pdf">Crab Cakes</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Creamy_Tiramisu_Delight.jpeg" alt="Creamy_Tiramisu_Delight">
                <p class="meal-description"><a href="../static/Delightful_Desserts/Instructions/Creamy_Tiramisu_Delight_Recipe.pdf">Creamy Tiramisu Delight</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Creamy_Tuscan_Garlic_Salmon.jpeg" alt="Creamy_Tuscan_Garlic_Salmon">
                <p class="meal-description"><a href="../static/Inspiring_Italian/Instructions/Creamy_Tuscan_Garlic_Salmon_Recipe.pdf">Creamy Tuscan Garlic Salmon</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Crispy_Chiles_Rellenos_Stuffed_with_Cheese.jpeg" alt="Crispy_Chiles_Rellenos_Stuffed_with_Cheese">
                <p class="meal-description"><a href="../static/Marvelous_Mexican/Instructions/Crispy_Chiles_Rellenos_Stuffed_with_Cheese_Recipe.pdf">Crispy Chiles Rellenos Stuffed with Cheese</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Dairy-Free_Chocolate_Chip_Brownies.jpeg" alt="Dairy-Free_Chocolate_Chip_Brownies">
                <p class="meal-description"><a href="../static/Delightful_Desserts/Instructions/Dairy_Free_Chocolate_Chip_Brownies_Recipe.pdf">Dairy Free Chocolate Chip Brownies</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Garlic_Butter_Salmon.jpeg" alt="Garlic_Butter_Salmon.jpeg">
                <p class="meal-description"><a href="../static/Seafood/Instructions/Garlic_Butter_Salmon.pdf">Garlic Butter Salmon</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Greek_Style_Garlic_Calamari.jpeg" alt="Greek_Style_Garlic_Calamari">
                <p class="meal-description"><a href="../static/Seafood/Instructions/Greek-Style_Garlic_Calamari.pdf">Greek Style Garlic Calamari</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Herbed%20Pork_Tenderloin_with_Garlic_Herb_Potatoes.jpeg" alt="Herbed_Pork_Tenderloin_with_Garlic_Herb_Potatoes">
                <p class="meal-description"><a href="../static/Inspiring_Italian/Instructions/Herbed_Pork_Tenderloin_with_Garlic_Herb_Potatoes_Recipe.pdf">Herbed Pork Tenderloin with Garlic Herb Potatoes</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Homestyle_Mac_and_Cheese.jpeg" alt="Homestyle_Mac_and_Cheese">
                <p class="meal-description"><a href="../static/Comfort_Classics/Instructions/Homestyle_Mac_and_Cheese_Recipe.pdf">Homestyle Mac and Cheese</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Homey_Vegetable_Pot_Pie.jpeg" alt="Homey_Vegetable_Pot_Pie">
                <p class="meal-description"><a href="../static/Comfort_Classics/Instructions/Homey_Vegetable_Pot_Pie_Recipe.pdf">Homey Vegetable Pot Pie</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Lobster_Tail_with_Pasta_and_White_Wine_Cream_Sauce.webp" alt="Lobster_Tail_with_Pasta_and_White_Wine_Cream_Sauce">
                <p class="meal-description"><a href="../static/Seafood/Instructions/Lobster_Tail_with_Pasta_and_White_Wine_Cream_Sauce.pdf">Lobster Tail with Pasta and White Wine Cream Sauce</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Meatloaf_with_Mashed_Potatoes.jpeg" alt="Meatloaf_with_Mashed_Potatoes">
                <p class="meal-description"><a href="../static/Comfort_Classics/Instructions/Meatloaf_with_Mashed_Potatoes_Recipe.pdf">Meatloaf with Mashed Potatoes</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Mole_Poblano_with_Tender_Chicken.jpeg" alt="Mole_Poblano_with_Tender_Chicken">
                <p class="meal-description"><a href="../static/Marvelous_Mexican/Instructions/Mole_Poblano_with_Tender_Chicken_Recipe.pdf">Mole Poblano with Tender Chicken</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Mushroom_Risotto.jpeg" alt="Mushroom_Risotto">
                <p class="meal-description"><a href="../static/Inspiring_Italian/Instructions/Mushroom_Risotto_Recipe.pdf">Mushroom Risotto</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Pad_Thai_with_Shrimp_and_Peanuts.jpeg" alt="Pad_Thai_with_Shrimp_and_Peanuts">
                <p class="meal-description"><a href="../static/Asian_Delights/Instructions/Pad_Thai_with_Shrimp_and_Peanuts_Recipe.pdf">Pad Thai with Shrimp and Peanuts</a></p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Ratatouille_Medley.jpeg" alt="Ratatouille_Medley">
                <p class="meal-description">Ratatouille Medley</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Rich_and_Hearty_Vegan_Chili.jpeg" alt="Rich_and_Hearty_Vegan_Chili">
                <p class="meal-description">Rich and Hearty Vegan Chili</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Roasted_Chili_Lime_Cod_with_Corn_and_White_Rice.jpeg" alt="Roasted_Chili_Lime_Cod_with_Corn_and_White_Rice.jpeg">
                <p class="meal-description">Roasted Chili Lime Cod with Corn and White Rice</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Savory%20Tamales%20with%20Salsa%20Verde.jpeg" alt="Savory_Tamales_with_Salsa_Verde">
                <p class="meal-description">Savory Tamales with Salsa Verde</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Savory-Sweet_Bread_Pudding.jpeg" alt="Savory-Sweet_Bread_Pudding">
                <p class="meal-description">Savory-Sweet Bread Pudding</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Savory_Spaghetti_Aglio_e_Olio.jpeg" alt="Savory_Spaghetti_Aglio_e_Olio">
                <p class="meal-description">Savory Spaghetti Aglio e Olio</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Sizzling_Fajitas_with_Grilled_Peppers_and_Onions.jpeg" alt="Sizzling_Fajitas_with_Grilled_Peppers_and_Onions">
                <p class="meal-description">Sizzling Fajitas with Grilled Peppers and Onions</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Slow-Cooked_Pot_Roast_with_Veggies.jpeg" alt="Slow-Cooked_Pot_Roast_with_Veggies">
                <p class="meal-description">Slow Cooked Pot Roast with Veggies</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Stir-Fried_Noodles_with_Fresh_Veggies.jpeg" alt="Stir-Fried_Noodles_with_Fresh_Veggies">
                <p class="meal-description">Stir Fried Noodles with Fresh Veggies</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Tandoori_Chicken_and_Naan%20.jpeg" alt="Tandoori_Chicken_and_Naan">
                <p class="meal-description">Tandoori Chicken and Naan</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Teriyaki_Salmon_with_Sushi_Rice.jpeg" alt="Teriyaki_Salmon_with_Sushi_Rice">
                <p class="meal-description">Teriyaki Salmon with Sushi Rice</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Vegan_Key_Lime_Pie_Bites.jpeg" alt="Vegan_Key_Lime_Pie_Bites">
                <p class="meal-description">Vegan Key Lime Pie Bites</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Vietnamese_Pho_with_Rare_Beef.jpeg" alt="Vietnamese_Pho_with_Rare_Beef">
                <p class="meal-description">Slow Cooked Pot Roast with Veggies</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Zesty_Chicken_Enchiladas.jpeg" alt="Zesty_Chicken_Enchiladas">
                <p class="meal-description">Zesty Chicken Enchiladas</p>
            </div>
            <div class="meals-grid-item">
                <img src="../static/images/Zucchini_and_Tomato_Bake.jpeg" alt="Zucchini_and_Tomato_Bake">
                <p class="meal-description">Zucchini and Tomato Bake/p>
            </div>
        </div>
    </div>
</section>


</body>
</html>