<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRVR howitworks</title>
</head>
<body>
    <section class="howitworks">
        <div class="howitworksmain">
            <div class="howitworks-text">
                <h1>How It Works</h1>
                <p>"At SRVR, we've designed a simple and convenient process to revolutionize the way you cook and eat at home. 
                    With our meal kit delivery service, you can enjoy delicious and nutritious meals in just a few easy steps."</p>
                <h5>Signup for SRVR</h5>
                <p></p>
            </div>
        </div>
    </section>

</body>
</html>