<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRVR How It Works</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    
</head>
<body>

    <!-- Navbar -->
    <header>
        <div class="left-section">
            <a href="{{url_for('browsemenu')}}" class="logo">SRVR<i class="bi bi-badge-tm"></i></a>
        </div>

        <div class="center-section">
            <nav class="navbar">
                <a href="{{ url_for ('browsemenu') }}">Browse Menu</a>
                <a href="{{url_for('howitworks')}}">How it Works</a>
                <a href="{{url_for('aboutus')}}">About Us</a>
            </nav>
        </div>

        <div class="right-section">
            <nav class="navbar">
                {%if not_logged_in%}
                <a href="{{ url_for ('login') }}">Login</a>

                <a href="{{ url_for ('signup') }}">Sign Up</a>
                {%else%}
                <a href="{{ url_for ('cart') }}">Cart</a>
                
                <a href="{{url_for('usrhome',email=session['email'])}}">Account</a>
                {%endif%}
            </nav>
        </div>
    </header>


    <!-- How it Works Section - step by step guide manual -->
    <section class="howitworks">
        <h2 style="text-align: center; font-size: 40px; margin-top: 5px; margin-bottom: 45px;">How SRVR Works</h2>
        <div class="container">
            <div class="left-column">
                <ol class="how-it-works-list"> <!-- Change ul to ol for ordered list -->
                    <li>
                        <strong style="font-size: 25px">Browse the Menu</strong>
                        <p class="ordered-list-description">
                            Explore a diverse menu offering a variety of delectable dishes. Navigate through different categories and dietary restrictions ranging from global dishes to vegan comfort meals.
                        </p>
                    </li>
                    <li>
                        <strong style="font-size: 25px">Select Meals</strong>
                        <p class="ordered-list-description">
                            Choose your favorite meals from the menu. Utilize the meal selection navbar to filter meals based on your preferences. Click each meal to get a glimpse of the recipe and more details.
                        </p>
                    </li>
                    <li>
                        <strong style="font-size: 25px">Add to Cart</strong>
                        <p class="ordered-list-description">
                            Found a meal you love? Click "Add to Cart" to include it in your order
                        </p>
                    </li>
                    <li>
                        <strong style="font-size: 25px">View Cart</strong>
                        <p class="ordered-list-description">
                            Curious about what's in your cart? Navigate to the Cart section to review your selected meals. Ensure everything looks perfect before proceeding.
                        </p>
                    </li>
                    <li>
                        <strong style="font-size: 25px">Checkout</strong>
                        <p class="ordered-list-description">
                            Ready to checkout? Head to the checkout for a seamless ordering process. If you haven't logged in, you'll be prompted to do so or create an account for a personalized experience.
                    </li>
                    <li>
                        <strong style="font-size: 25px">Order Confirmation</strong>
                        <p class="ordered-list-description">
                            Once you've completed the checkout process, you'll receive an order confirmation. Sit back, relax, and await the culinary delights to arrive at your doorstep.
                    </li>
                </ol>
            </div>
        </div>
    </section>


     <!-- FAQ Section -->
    <section class="faq">
        <div class="faq">
            <div class="faq-text">

                <!-- Frequently Asked Questions -->
                <h2 style="margin-top: 5px; margin-bottom: 45px; font-size: 40px; text-align: center;">Frequently Asked Questions</h2>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question">
                        <span class="faq-arrow"></span> What type of meals do we offer?
                    </div>
                    <div class="faq-answer">
                        We offer a diverse range of meals to suit various preferences and dietary requirements. Our menu includes global cuisines 
                        including Asian, Italian, and Mexican dishes. We also have a variety of options for different dietary preferences, such 
                        as vegetarian and vegan meals.
                    </div>
                </div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question">
                        <span class="faq-arrow"></span> Is a subscription required?
                    </div>
                    <div class="faq-answer">
                        Yes, we offer a subscription-based service to make meal planning even more convenient for our customers. 
                        You can choose a plan that suits your needs, and you can easily skip or cancel anytime.
                    </div>
                </div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question">
                        <span class="faq-arrow"></span> Can I customize dietary preferences?
                    </div>
                    <div class="faq-answer">
                        We offer a wide range of meal plans for your specific dietary preferences and allergies.
                    </div>
                </div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question">
                        <span class="faq-arrow"></span> Where do we deliver?
                    </div>
                    <div class="faq-answer">
                        For now, we only ship within the US.
                    </div>
                </div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question">
                        <span class="faq-arrow"></span> How is food packaged?
                    </div>
                    <div class="faq-answer">
                        We package our ingredients to ensure freshness. The meal kits include pre portioned 
                        ingredients, using insulated packaging with ice packs to keep everything fresh.
                    </div>
                </div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question">
                        <span class="faq-arrow"></span> What if I am not home for delivery?
                    </div>
                    <div class="faq-answer">
                        Our packages will keep your ingredients safe even if you are not home when the package arrives.
                    </div>
                </div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question">
                        <span class="faq-arrow"></span> How can I contact Customer Support?
                    </div>
                    <div class="faq-answer">
                        You can contact customer support team through support@srvr.com
                    </div>
                </div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question">
                        <span class="faq-arrow"></span> Which payment methods do we accept?
                    </div>
                    <div class="faq-answer">
                        We currently accept Disover, Mastercard, and Visa.
                    </div>
                </div>

                <div class="faq-item" onclick="toggleAnswer(this)">
                    <div class="faq-question">
                        <span class="faq-arrow"></span> How can I cancel or modify my subscription?
                    </div>
                    <div class="faq-answer">
                        You can easily manage your subscription through your account on our website.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function toggleAnswer(faqItem) {
            faqItem.classList.toggle('active');
            var answer = faqItem.querySelector('.faq-answer');
            answer.style.display = answer.style.display === 'none' ? 'block' : 'none';
        }
    </script>


    <!-- Contact Info -->
    <section class="contactinfo">
        <h2 style="text-align: center; font-size: 40px; margin-top: 5px; margin-bottom: 45px;">Didn't find what you're looking for?</h2>
        <div class="container">
            <p class="ordered-list-description">
                If you ever have questions, need assistance, or have any suggestions, we're here for you. 
                Don't hesitate to reach out. Send us an email at contact@srvr.com or give us a call at (205) 123-4567 and we'll be happy to assist!
            </p>
        </div>
    </section>

</body>
</html>
