<!DOCTYPE html>
{% extends "menu.html" %}
{% block header %}{% endblock %}
{% block content %}

{% if msg %}
<div class="msg">
    {{ msg }}
</div>
{% endif %}

<p>Please log in by entering your username and password below</p>
<form action="{{url_for('login')}}" method="POST">
    <label for="email">Email: </label>
    <input type="text" class="form-control" id="email" name="email" placeholder="johndoe2@example.com">
    
    <label for="formGroupExampleInput2" class="labels">Password: </label>
    <input type="password" class="form-control" id="password" name="psw" placeholder="Password">

    <input type="submit" value="Login">
</form>
{% if user %}
<p>{{ user.fname }}</p>
<p>TEST</p>
{% endif %}
<style>
    p{
        margin-top: 10px;
        text-align: center;
        font-size: large;
    }form{
        text-align: center;
        margin: auto;
        width: 30%;
        padding: 10px;
    }input, label{
        margin-top: 7.5px;
    }
</style>
{% endblock %}