<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRVR</title>
</head>
<body>
    {% extends "menu.html" %}
    {% block content %}
    <h3>Welcome to SRVR™</h3>
    <p>Hello, and welcome SRVR™, a customizable meal plan delivery service</p>
    <p>Please login to your account, or sign up from the dropdown menu to get started.</p>
    <style>
        h3{
            margin-top: 80px;
            text-align: center;
        }
        p{
            margin-top: 20px;
            text-align: center;
        }
    </style>
    {% endblock %}
</body>
</html>