<!DOCTYPE html>

<!--
  main.html is what the user sees BEFORE logging in
  don't connect base.html since base.html is the navbar AFTER user log in
   main.html will have it's own nav bar
  will link login and signup pages
  will also link menu page, how it works, and about us
-->

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SRVR</title>

    <!--link to css page-->
    <link
            rel="stylesheet"
            type="text/css"
            href="../static/styles.css"
    />
</head>


<body>

<!--navbar-->
<header>
    <div class="left-section">
        <a href="{{url_for('home')}}" class="logo">SRVR<i class="bi bi-badge-tm"></i></a>
    </div>

    <div class="center-section">
        <nav class="navbar">
            <a href="{{url_for('browsemenu')}}">Browse Menu</a>
            <a href="{{url_for('howitworks')}}">How it Works</a>
            <a href="{{url_for('aboutus')}}">About Us</a>
        </nav>
    </div>

    <div class="right-section">
        <nav class="navbar">
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('signup')}}" class="signup-button">Sign Up</a>
        </nav>
    </div>
</header>


<!--big background pic and words right below navbar-->
<section class="home-top" id="home-top">

    <div class="text-home-top">
        <div class="chef-crafted">Chef Crafted</div>
        <div class="flavorful-feasts">Flavorful Feasts</div>
        <div class="straight-to-door">Straight To Your Door</div>
    </div>
</section>



<!--mid homepage section where menu sneak peek is located-->
<section class="home-mid" id="home-mid">

    <div class="text-home-mid">
        <div class="discover-menu">Discover a wide variety of options to choose from!</div>
        <div class="sneak-peek">Check out a sneak peek of our menu</div>
    </div>

    <div class="sneak-peek-images">
        <div class="sneak-peek-item">
            <img src="../static/images/shrimp-homepage.jpg" alt="Shrimp Image Main Page" class="shrimp-img-home-mid">
            <p style="font-weight: bold;">Savory Seafood</p>
        </div>
        <div class="sneak-peek-item">
            <img src="../static/images/pizza-homepage.jpg" alt="Pizza Image Main Page" class="pizza-img-home-mid">
            <p style="font-weight: bold;">Inspiring Italian</p>
        </div>
        <div class="sneak-peek-item">
            <img src="../static/images/dessert-homepage.jpg" alt="Dessert Image Main Page" class="dessert-img-home-mid">
            <p style="font-weight: bold;">Delightful Desserts</p>
        </div>
    </div>



</section>


<!--bottom homepage section where "why srvr" and how it works is located-->
<section class="home-bottom" id="home-bottom">

    <!--why srvr section-->
    <div class="why-srvr">Why SRVR?</div>
    <div class="why-srvr-images">
        <div class="why-srvr-item">
            <img src="../static/images/food-icon.png" alt="food icon" class="food-icon">
            <p style="font-weight: bold;">Nutritional Excellence</p>
            <p style="margin-top: 10px;">Savor your favorite flavors while maintaining a balanced diet</p>
        </div>
        <div class="why-srvr-item">
            <img src="../static/images/time.png" alt="food icon" class="time">
            <p style="font-weight: bold;">Time-Saving Simplicity</p>
            <p style="margin-top: 10px;">Home-cooked meals without lengthy preparation and cooking times</p>
        </div>
        <div class="why-srvr-item">
            <img src="../static/images/culinary.png" alt="food icon" class="culinary-freedom">
            <p style="font-weight: bold;">Culinary Freedom</p>
            <p style="margin-top: 10px;">Diverse recipes and ingredients that cater to your unique tastes</p>
        </div>
        <div class="why-srvr-item">
            <img src="../static/images/food-wellness.png" alt="food icon" class="food-wellness">
            <p style="font-weight: bold;">Wellness Without Compromise</p>
            <p style="margin-top: 10px;">Delicious, healthy meals that fit seamlessly into your busy lifestyle</p>
        </div>
    </div>

    <!--how it works section-->
    <div class="how-it-works">How It Works</div>


    <div class="container">
        <div class="left-column">
            <ul class="how-it-works-list">
                <li>
                    <strong style="font-size: 25px">Order and Customize:</strong>
                    <p class="ordered-list-description">
                        Select your meals to suit your dietary preferences and nutritional needs
                    </p>
                </li>
                <li>
                    <strong style="font-size: 25px">Fast and Convenient Delivery:</strong>
                    <p class="ordered-list-description">
                        The SRVR team carefully packages and delivers your freshly prepared meals are delivered right to your doorstep
                    </p>
                </li>
                <li>
                    <strong style="font-size: 25px">Enjoy Fresh, Healthy Meals:</strong>
                    <p class="ordered-list-description">
                        Unpack and cook your SRVR meals and savor the delicious flavors without compromising on nutrition.
                    </p>
                </li>
            </ul>
        </div>
        <div class="right-column">
            <img src="../static/images/grocery.png" alt="grocery" class="grocery-icon">
        </div>
    </div>

</section>

</body>

<footer>
    <div class="footer-container">
        <!-- Help/Contact us -->
        <div class="footer-row">
            <h3>Contact and Support:</h3>
            <p><a href="howitworks.html">How it Works</a></p>
            <p><a href="mailto:contact@srvr.com">contact@srvr.com</a></p>
            <p>(205)123-4567</p>
        </div>
        <div class="footer-row">
            <h3>Accepted Payment:</h3>
            <p>Visa</p>
            <p>Mastercard</p>
            <p>Discover</p>
        </div>
        <div class="footer-row">
            <h3>Company:</h3>
            <p><a href="main.html">Home</a></p>
            <p><a href="ourmenu.html">Our Menu</a></p>
            <p><a href="aboutus.html">About Us</a></p>
        </div>
    </div>
    <div class="social-media">
        <a href="https://www.facebook.com/"><img src="../static/images/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com"><img src="../static/images/instagram.png" alt="Instagram"></a>
        <a href="https://www.pinterest.com"><img src="../static/images/pinterest.png" alt="Pinterest"></a>
        <a href="https://www.twitter.com"><img src="../static/images/twitter.png" alt="Twitter"></a>
        <a href="https://www.youtube.com"><img src="../static/images/youtube.png" alt="YouTube"></a>
    </div>

    <p style="text-align: center; margin-top: 10px;">© SRVR, LLC 2023</p>
</footer>


</html>