<!DOCTYPE html>
{% extends "menu.html" %}
{% block header %}{% endblock %}
{% block content %}
    <div class="message">
        {{ msg }}
    </div>

    <!-- page to display past orders -->
    <h1>Past Orders</h1>

    <ul>
        {% for order in past_orders %}
            <li>
                <strong>Transaction ID:</strong> {{ order[0]}}<br>
                <strong>Shipping Address:</strong> {{ order[4] }}<br>
                <strong>Date:</strong> {{ order[6] }} <br>
                {% for box in boxes %}
                {% if order[2] == box[0] %}
                <strong>Meals in box:</strong> {{ box[2] }}
                {% endif %}
                {% endfor %}
            </li>
            <br>
        {% endfor %}
    </ul>

    <style type="text/css">
        .message, p, h1, form, ul{
            text-align: center;
            margin: auto;
            width: 30%;
            padding: 10px;
        }
    </style>
{% endblock %}