<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SRVR Payment Form</title>
    <style>
        /* our menu, how it works, about us */
        .center-section {
            display: inline-block;
            text-align: center;
            margin-left: -9rem;
        }
    </style>
</head>

<body>
    <!--navbar-->
    <header>
        <div class="left-section">
            <a href="main.html" class="logo">SRVR<i class="bi bi-badge-tm"></i></a>
        </div>

        <div class="center-section">
            <nav class="navbar">
                <a href="ourmenu.html">Our Menu</a>
                <a href="howitworks.html">How it Works</a>
                <a href="{{url_for('aboutus')}}">About Us</a>
            </nav>
        </div>

    </header>
    <!--end navbar-->
    <div class="paycontainer">
        <form action="/addNewCard" method="post" enctype="multipart/form-data">
            <div class="flexBox">
                <!-- <div class="inputBox">
                    <span>choose plan</span>
                    <select name="SubPlan" id="" class="plan-input">
                        <option value="plan" selected disabled>plan type</option>
                        <option type="text" value="2-portions">2-portions</option>
                        <option type="text" value="4-portions">4-portions</option>
                    </select>
                </div> -->
            </div>
            <div class="inputBox">
                <span>card number</span>
                <input type="text" maxlength="16" name="CardNum" class="card-number-input">
            </div>
            <div class="inputBox">
                <span>card holder</span>
                <input type="text" name="CardName" class="card-holder-input">
            </div>
            <div class="flexBox">
                <div class="inputBox">
                    <span>expiration mm</span>
                    <select name="ExpiryMonth" id="" class="month-input">
                        <option value="month" selected disabled>month</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="inputBox">
                    <span>expiration yy</span>
                    <select name="ExpiryYear" id="" class="year-input">
                        <option value="year" selected disabled>year</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                    </select>
                </div>
                <div class="inputBox">
                    <span>cvv</span>
                    <input type="text" maxlength="3" name="CVV" class="cvv-input">
                </div>
            </div>
            <input type="submit" href="{{url_for ('login')}}" value="submit" class="submit-btn">
        </form>
    </div>
</body>0

</html>