<!DOCTYPE html>
<html lang="en">
<body>
{% extends base.html %}
{% block content %}

<form class="ui form" action="/paymentmethod" method="post" enctype="multipart/form-data">
    <label for="CardNumber">Credit Card Number: </label>
    <input type="text" class="form-control" id="CardNumber" name="CardNumber" placeholder="1234 5678 9123 4567">

    <label for="Expiry">Expiry Date: </label>
    <input type="text" class="form-control" id="Expiry" name="Expiry" placeholder="01/12">

    <label for="CCV">CCV: </label>
    <input type="text" class="form-control" id="CCV" name="CCV" placeholder="123">

    <label for="CardName">Name on the Card: </label>
    <input type="text" class="form-control" id="CardName" name="CardName" placeholder="John M Doe">

    <input type="submit" value="Update Payment Method">
</form>

{% endblock content %}
</body>
</html>