<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRVR</title>
</head>
<body>
    {% extends "menu.html" %}
    {% block content %}
    <p>Please fill out the form below to register for a new account</p>
    <!-- <form action="{{url_for('signup')}}" method="POST"> -->
    <form class="ui form" action="/add" method="post" enctype="multipart/form-data">
        <label for="fName">First Name: </label>
        <input type="text" class="form-control" id="fName" name="fName" placeholder="John">

        <label for="lName">Last Name: </label>
        <input type="text" class="form-control" id="lName" name="lName" placeholder="Thomas">
    
        <label for="email">Email: </label>
        <input type="text" class="form-control" id="email" name="email" placeholder="johndoe2@example.com">
    
        <label for="address">Address: </label>
        <input type="text" class="form-control" id="address" name="address" placeholder="123 Main St, City, ST 55555">
    
        <label for="password">Password: </label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    
        <label for="confirmPassword">Confirm Password: </label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
    
        <input type="submit" value="Create Account">
    </form>
    {% if error %}
    <p>{{ error}}</p>
    <p>{{ password}}</p>
    <p>{{ confirmpassword}}</p>
    {% endif %}
    <style>
        p{
            margin-top: 10px;
            text-align: center;
            font-size: large;
        }
        form{
            text-align: center;
            margin: auto;
            width: 30%;
            padding: 10px;
        }
        input, label{
            margin-top: 7.5px;
        }
    </style>
    {% endblock %}
</body>
</html>