<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SRVR Signup</title>
        <style>
        /* our menu, how it works, about us */
        .center-section {
        display: inline-block;
        text-align: center;
        margin-left: -9rem;
        }
    </style>
</head>
<body>
    <!--navbar-->
    <header>
        <div class="left-section">
            <a href="{{url_for('home')}}" class="logo">SRVR<i class="bi bi-badge-tm"></i></a>
        </div>

        <div class="center-section">
            <nav class="navbar">
                <a href="ourmenu.html">Our Menu</a>
                <a href="howitworks.html">How it Works</a>
                <a href="{{url_for('aboutus')}}">About Us</a>
            </nav>
        </div>

    </header>
    <!--end navbar-->
    <div class="form-container">
        <form action="/add" method="post">
            <h3>Signup Now</h3>
            <input type="text" name="fname" required placeholder="Enter your first name" value="{{ fName }}">
            <input type="text" name="lname" required placeholder="Enter your last name" value="{{ lName }}">
            <input type="email" name="email" required placeholder="Enter your email" value="{{ email }}">
            <input type="text" name="address" required placeholder="Enter your address" value="{{ address }}">
            <input type="password" name="password" required placeholder="Enter your password" value="{{ password }}">
            <input type="password" name="confirm_password" required placeholder="Confirm your password" value="{{ confirmpassword}}">
            <input type="submit" value="Signup Now" class="form-btn">
            <p>already have an account? <a href="{{url_for('login')}}">login now</a></p>
        </form>
        {% if error %}
        <p>{{ error}}</p>
        {% endif %}
    </div>
</body>
</html>