<!DOCTYPE html>
{% extends "menu.html" %}
{% block header %}{% endblock %}
{% block content %}
    <div class="message">
        {{ msg }}
    </div>

    <!-- page to display past orders -->
    <h1>Past Orders</h1>

    <ul>
        {% for order in past_orders %}
            <li>
                <strong>Order ID (T_ID):</strong> {{ order.T_ID }}<br>
                <strong>Box ID (B_ID):</strong> {{ order.B_ID }}<br>
                <strong>Shipping Address:</strong> {{ order.shipping_address }}<br>
                <strong>Date:</strong> {{ order._Date }}
            </li>
            <br>
        {% endfor %}
    </ul>

    <!-- possible different way to display data 
    <table>
        <tr>
            <th>Order ID</th>
            <th>Box ID</th>
            <th>Shipping Address</th>
            <th>Date</th>
        </tr>
        {% for order in past_orders %}
            <tr>
                <td>{{ order.T_ID }}</td>
                <td>{{ order.B_ID }}</td>
                <td>{{ order.shipping_address }}</td>
                <td>{{ order._Date }}</td>
            </tr>
        {% endfor %}
    </table> -->

    <style type="text/css">
        .message, p, h1, form, ul{
            text-align: center;
            margin: auto;
            width: 30%;
            padding: 10px;
        }
    </style>
{% endblock %}