<!DOCTYPE html>
{% extends "menu.html" %}
{% block header %}{% endblock %}
{% block content %}
    <div class="message">
        {{ msg }}
    </div>
    <p>Temporary user home page for testing</p>

    <form action="{{ url_for('paymentmethod', fname=fname) }}" method="post">
        <button type="submit"> Update Payment Method </button>
    </form>
    <form action="{{ url_for('usrsettings', fname=fname) }}" method="post">
        <button type="submit"> Update User Info </button>
    </form>
    <form action="{{ url_for('changepass', fname=fname) }}" method="post">
        <button type="submit"> Change Password </button>
    </form>

    <!-- <button type="button" formaction="{{ url_for('paymentmethod') }}" >Update Payment Method</button> -->
    <style type="text/css">
        .message, p, form{
            text-align: center;
            margin: auto;
            width: 30%;
            padding: 10px;
        }button{
            padding: 0.5%;
            width: 100%;
        }
    </style>
{% endblock %}