<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SRVR Signup</title>
        <style>
        /* our menu, how it works, about us */
        .center-section {
        display: inline-block;
        text-align: center;
        margin-left: -9rem;
        }
    </style>
</head>
<body>
    <!--navbar-->
    <header>
        <div class="left-section">
            <a href="main.html" class="logo">SRVR<i class="bi bi-badge-tm"></i></a>
        </div>

        <div class="center-section">
            <nav class="navbar">
                <a href="ourmenu.html">Our Menu</a>
                <a href="howitworks.html">How it Works</a>
                <a href="aboutus.html">About Us</a>
            </nav>
        </div>

    </header>
    <div class="form-container">
        <!-- <form action="/updateInfo/{{user.fname}}" method="post"> -->
        <form action="/updateInfo/{{user.fname}}" method="post">
            <h3>Change the fields that you would like to modify</h3>
            <input type="text" name="fname" required placeholder="First name">
            <input type="text" name="lname" required placeholder="Last name">
            <input type="email" name="email" required placeholder="Email">
            <input type="text" name="address" required placeholder="Address">
            <!-- <input type="password" name="password" required placeholder="Enter your password"> -->
            <!-- <input type="password" name="confirm_password" required placeholder="Confirm your password"> -->
            <h5>Enter your current password to confirm changes</h5>
            <input type="text" name="password" required placeholder="Password">
            <input type="submit" value="Submit Changes" class="form-btn">
            <!-- <p>Back to <a href="tempusrhome.html">Home</a></p> -->
        </form>
    </div>
    <!-- <style>
        .form-container{
            padding-top: 7%;
        }
    </style> -->
</body>
</html>