<!DOCTYPE html>
{% extends "menu.html" %}
{% block header %}{% endblock %}
{% block content %}
<div class="message">
    {{ msg }}
</div>
<p>Temporary user home page for testing</p>
<form action="/paymentmethod/{{email}}" method="post">
    <button type="submit"> Update Payment Method </button>
</form>
<form action="/usrsettings/{{email}}" method="post">
    <button type="submit"> Update User Info </button>
</form>
<form action="/changepwd/{{email}}" method="post">
    <button type="submit"> Change Password </button>
</form>
<form action="/pastorders/{{email}}">
    <button type="submit"> Past Orders </button>
</form>

<div class="upcoming-meals">
    <h2>Upcoming Meals</h2>
    <!-- Loops through each of the four upcomingBoxes -->
    {% for row in upcoming_meals %} 
        <div class="meal-row">
            <h3>Box {{ loop.index0 + 1 }}:</h3>
            <!-- The set of meals for each upcomingBox -->
            {% set box = boxes[loop.index0] %}
            <!-- The seven meals separated into a list -->
            {% set meals = box[2].split(', ') %}
            
            {% for meal in row %}
                {% set mn = meals[loop.index0] %}
                {% for meal_name in all_meals %}
                {% if meal_name[1] == mn %}
                    <div class="meal-item">
                        <img src="{{ meal_name[3] }}" alt="{{ meals[loop.index0] }} {{row}}">
                        <h2 style="text-align: center">Meal {{loop.index0 + 1 }}: {{ meals[loop.index0] }}</h2>
                        <button type="button" onclick="modifyMeal('{{ meals[loop.index0] }}')">Modify</button>
                    </div>
                {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

<script>
    function modifyMeal(mealName) {
        // Implement logic to handle modifying the selected meal
        alert("Modify meal: " + mealName);
    }
</script>

<style type="text/css">
    .message,
    p,
    form {
        text-align: center;
        margin: auto;
        width: 30%;
        padding: 10px;
    }

    button {
        padding: 0.5%;
        width: 100%;
    }
</style>
{% endblock %}