<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SRVR Login</title>
        <style>
        /* our menu, how it works, about us */
        .center-section {
        display: inline-block;
        text-align: center;
        margin-left: -9rem;
        }
    </style>
</head>
<body>
    <!--navbar-->
    <header>
        <div class="left-section">
            <a href="{{url_for('home')}}" class="logo">SRVR<i class="bi bi-badge-tm"></i></a>
        </div>

        <div class="center-section">
            <nav class="navbar">
                <a href="{{ url_for ('browsemenu') }}">Our Menu</a>
                <a href="howitworks.html">How it Works</a>
                <a href="{{url_for('aboutus')}}">About Us</a>
            </nav>
        </div>

    </header>
    <!--end navbar-->
    <section class="thankyou-section">
        <div class="thankyou-container">
        {%if 'Subscription' in msg%}
            <h1>Thank you for updating your subscription!</h1>
            <p>{{msg}}</p>
            <a button type="button" href="{{ url_for ('browsemenu') }}" class="thankyou-btn">Home</button>
        {% endif %}
        <!-- {%if 'Card' in msg%}
            <h1>Thank you for updating your payment!</h1>
            <p>{{msg}}</p>
            <a button type="button" href="{{ url_for ('browsemenu') }}" class="thankyou-btn">Home</a>
        {% endif %} -->
        {%if 'created' in msg%}
            <h1>Thank you for signing up!</h1>
            <p>{{msg}}</p>
            <a href="{{ url_for ('login') }}" class="thankyou-btn">Login</button>
        {% endif %}
        {%if 'updated' in msg%}
            <h1>Thank you for updating your information!</h1>
            <p>{{msg}}</p>
            <a button type="button" href="{{ url_for ('browsemenu') }}" class="thankyou-btn">Home</button>
        {% endif %}
        {%if 'password' in msg%}
            <h1>Thank you for updating your password!</h1>
            <p>{{msg}}</p>
            <a button type="button" href="{{ url_for ('browsemenu') }}" class="thankyou-btn">Home</button>
        {% endif %}


        </div>
</body>
</html>